html,body,header{
    margin:0;
    padding:0; 
    background-color: rgba(20, 96, 172);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body,header{
    width: 1000px;
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(28, 67, 107);
}
body{
    margin-top:50px ;
    
}
header{
    font-size: 40px;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin:0;
}
header>pre{
    font-family: Courier, monospace;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 80px;
}
header>pre:hover{
    cursor: pointer;
}
.login, .register {
    width: 170px;
    height: 40px;
    margin: 10px;
    position: absolute;
    background-color: rgb(0, 255, 149);
    border: none;
    border-radius: 7px;
    font-size: 16px;
    transition: 1.5s;
}
.login{
    top:65px;
    right: 2%;
    
}
.register{
    top:5px;
    right: 2%;
}

.register:hover, .login:hover{
    background-color: rgb(246, 255, 0);
    
}
.email{
    
    font-size: 28px;
    margin: 20px;
    display: flex;
    background: inherit;
    justify-content: center;
}
.delete_accaunt{
    width: 250px;
    height: 40px;
    border: none;
    background-color: rgb(144, 78, 244);
    margin: 30px;
    border-radius: 10px;
    font-size: 18px;
}
.delete_accaunt:hover{
    cursor: pointer;
}
.list{
    display: flex;
    flex-direction: column;
}
.list>input{
    background-color: inherit;

}
ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul>li>input{
    transform:scale(1.5);
    margin: 10px;
    display: flex;
    align-items: center;
}
ul>li{
    font-size: 26px;
    border:1px solid white;
    padding: 30px;
    display: flex;
    width: 400px;
}
.go_back{
    background-color: rgb(144, 78, 244);
    border:none;
    font-size: 18px;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    display: block;
    margin-right: 930px;
}
.go_back:hover{
    cursor: pointer;
}
.add_film_to_list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add_film:hover{
    cursor: pointer;
}
.film{
    width: 250px;
    height: 25px;
    font-size: 20px;
    border: none;
    margin: 10px;
    border-radius: 5px;
}
.add_film_header{
    font-size: 22px;
    margin-bottom: 10px;
}
.add_film{
    width: 150px;
    height: 25px;
    padding: 3px;
    text-align: center;
    border: none;
    border-radius: 7px;
    background-color: rgb(116, 255, 206);
}
@media (max-width:1050px){
    body,header{
        width: 375px;
        margin-top: 150px;
    }
    .login,.register{
        right: calc(50% - 90px);
    }
    .go_back{
        margin-right: 310px;
    }
    ul>li{
        width: 300px;
    }

}
@media (max-width:410px){
    body,header{
        width: 320px;
    }
    .go_back{
        margin-right: 260px;
    }
}