<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/main.css') }}">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/425/425868.png" type="image/x-icon">
    <title>{{info[0]}}</title>
</head>
<body>
    <header>
        <pre onclick="go_to_main()">Cinema Schedule</pre>
        {% if token %}
        <button class="login" onclick="logout()">Выйти</button>
        <button class="register" onclick="go_to_lk()">Личный кабинет</button>
        {% else %}
            <button class="login" onclick="go_to_login()">Войти</button>
            <button class="register" onclick="go_to_register()">Зарегистрироваться</button>
        {% endif %}
    </header>
    <img src="{{info[1]}}" alt="" class="film_img">
    {% for cinema in info[2] -%}
            <ul class="cinema_table">
                
                {% for key,sessions in cinema.items() -%}
                    <img id = {{key}}>
                    {% for session in sessions -%}
                        <li class="info">
                            <div class="datetime">{{session[0].strftime('%d/%m %H:%M')}}</div>
                            <div class="price">{{session[1]}}р.</div>
                        </li>
                    {% endfor -%}
                    <a href={{info[3][key][0]}} class = "film_url">Перейти в кинотеатр</a>
                {% endfor -%}
            </ul>
    {% endfor -%}
</body>
<script>
    function logout(){
        fetch('/logout', {method:'POST'})
        setTimeout(function(){location.reload()},100)
    }
    function go_to_lk(){
        location.href = '/lk'
    }
    function go_to_login(){
        location.href = '/login'
    }
    function go_to_main(){
        location.href = '/'
    }
    function go_to_register(){
        location.href = '/register'
    }
    cinema_logos = ['https://goodwincinema.ru/img/logo.png',
                    'https://kinomax.tomsk.ru/img/logo.png',
                    'https://my.p24.app/files/98484ba5-e0e5-402f-876d-7ee76f607c11.svg',
                    'https://kino-polis.ru/img/new/logo.png',
                    'https://cdn.premierzal.ru/files/image/ivxgoqumhewik-ux.png']
    for (let index = 1; index < 6; index++) {
        if(document.querySelector(`img[id="${index}"]`)){
            document.querySelector(`img[id="${index}"]`).src = cinema_logos[index-1]
        }
        
    }
    document.querySelectorAll('div[class="price"]').forEach(elem => {
        if (elem.innerHTML.length > 5){
            elem.innerHTML = elem.innerHTML.slice(0,3) + '-' + elem.innerHTML.slice(3,elem.innerHTML.length)
        }
    })
</script>
</html>