<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/login.css') }}">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/425/425868.png" type="image/x-icon">
    <title>Register</title>
</head>
<body>
    <div class="login-box">
        <h2>Регистрация</h2>
        <form autocomplete="off" id="form_id"  onsubmit="javascript:return validate('form_id','email');" method="POST">
          <div class="user-box">
            <input type="text" name="email" required="">
            <label>Почта</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required="">
            <label>Пароль</label>
          </div>
          <input type="submit" value="Отправить" class="submit_btn">
          {% if bad %}
          <div style="color: red; font-size: 16px;">Пользователь уже зарегистрирован</div>
          {% endif %}
        </form>
      </div>
</body>
<script>
    function validate(form_id,email) {
        // var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
        // var address = document.forms[form_id].elements[email].value;
        // if(reg.test(address) == false) {
        //     alert('Введите корректный e-mail');
        //     return false;
        // }
    }

</script>
</html>